body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightcyan;
    font-family:cursive
}



nav{
    height: 50vh;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    height:20px;
    background-color:cadetblue;
}

nav:hover{
    background-color:lightskyblue;
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:black;
}


img{
    width:30vw;
    height: 30vh;
}

#yarn{
    animation: zoom 2s infinite alternate;
}

@keyframes zoom {
    0% {
        transform:scale(1);
    }
    50% {
        transform:scale(1.2);
    }
    100% {
        transform:scale(1);
    }
}


#hook {
    animation: slidein 6s infinite alternate;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
    }
  
    to {
      margin-left: -100%;
    }

  }

#red-ball{
    background-color: crimson;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
}


#red-ball {
    animation: bounce 1s infinite
}

@keyframes bounce {
    0%{
        transform:translate(0,0);
    }
    25%{
        transform:translate(100%,0);
    }
    50%{
        transform:translate(100%,100%);
    }
    75%{
        transform:translate(0%,100%);
    }
    100%{
        transform:translate(0,0);
    }
}