.page {
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
  }
  
  html {
    font-family:OCR A Std, monospace;
    font-size: 16px;
    color:black;
    margin: 0px;
    padding: 0px;
    background-color:thistle;
    text-align: center;
  }
  
  header {
    text-align: center;
  }
  header span {
    font-size: 60px;
    font-size: 2em;
    color:palevioletred
  }
  h1, h2, h3, h4, h5, h6 {
    font-family:OCR A Std, monospace;
  }
  
  .ball {
  position: relative;
  }
  .ball img{
    width: 100%;
    max-width: 40em;
  }
  .answer {
    color: #222;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 38%;
    left: 46%;
    width: 11%;
    font-size: 80%;
  }
  
  #questionButton {
    font-family:OCR A Std, monospace;
    font-size: 30px;
    font-size: 1.875em;
    color: #f8f8f8;
    background-color:palevioletred;
    border-radius: 100px;
    border: none;
    padding: .5em 1em;
    width: 80%;
    max-width: 15em;
    margin-top: 1em;
  }
  
