<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

    h1 {
        color: red;
        }
    }

    p{
        color: red;
        }
    
    html {
        background-color: rgba(244, 46, 135, 0.416);
    }

</head>
<body>


#first {
    color:blueviolet
}



